<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        Validation Errors
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-contrpl">
            </div>
            <div class="form-group">
                <label for="password">E-mail</label>
                <input type="password" id="password" name="password" class="form-contrpl">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>