<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="card-img-top image-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41Ch2Z3BsVL._SX323_BO1,204,203,200_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quiiard title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-success float-right">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" >
            <img class="card-img-top image-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41Ch2Z3BsVL._SX323_BO1,204,203,200_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quiiard title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-success float-right">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" >
            <img class="card-img-top image-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41Ch2Z3BsVL._SX323_BO1,204,203,200_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quiiard title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-success float-right">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="card-img-top image-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41Ch2Z3BsVL._SX323_BO1,204,203,200_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quiiard title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-success float-right">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" >
            <img class="card-img-top image-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41Ch2Z3BsVL._SX323_BO1,204,203,200_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quiiard title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-success float-right">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" >
            <img class="card-img-top image-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41Ch2Z3BsVL._SX323_BO1,204,203,200_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quiiard title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-success float-right">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
