
<div class="row">
{{# each products }}

    
        
        {{#if this.title }}
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img class="card-img-top image-responsive" src="{{this.imagePath}}" alt="Card image cap">
                    <div class="card-body">
                        <h7 class="card-title">{{this.title}}</h7>
                        <p class="card-text">{{this.description}}.</p>
                        <div class="clearfix">
                            <div class="price float-left">{{this.price}} $</div>
                            <a href="#" class="btn btn-success float-right">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        
    
{{/each}}
</div>




